#table-no {
   text-align: center;
}
  
.tables-body {
    text-align: center;
    align-items: center;
}

#table-status {
    align-self: center;
    text-decoration: solid;
}
.status-tab-free {
    background-color: #adadad;
    height: 2px;
}
.status-tab-active {
    background-color: #ddf31a;
    height: 2px;
}
.status-tab-running {
    background-color: #5cca5c;
    height: 2px;
}
.status-tab-completed {
    background-color: #fa0303;
    height: 2px;
}
.status-draw-free {
    background-color: #adadad;
    height: 10px;
    width: 10px;
    margin-right: 2px;
    border-radius: 50%;
    display: inline-block;
}
.status-draw-active {
    background-color: #ddf31a;
    height: 10px;
    width: 10px;
    margin-right: 2px;
    border-radius: 50%;
    display: inline-block;
}
.status-draw-running {
    background-color: #5cca5c;
    height: 10px;
    width: 10px;
    margin-right: 2px;
    border-radius: 50%;
    display: inline-block;
}
.status-draw-completed {
    background-color: #fa0303;
    height: 10px;
    width: 10px;
    margin-right: 2px;
    border-radius: 50%;
    display: inline-block;
}
/*
.tabs.index-tab li a{
    -webkit-transition: 0s;
    transition: 0s;
    border-bottom: 1px solid rgba(22, 7, 7, 0.1);
    padding: 0 0 1rem;
}
.index-tab li a:active{
    color: #ff0018;
    border-bottom: 2px solid #ff0018;
}
*/
.tabs li{
    flex: 1 1 auto;
}
.tabs li a{
    font-size: medium;
    display: block;
    padding: 7px;
    text-align: center;
    background: transparent;
    color: #050414;
    border-bottom: 1px solid rgba(3, 2, 2, 0.582);
}
.tabs li:first-child a{
    border-right: 1px solid rgba(3, 2, 2, 0.1);
}
.tabs li a.active{ 
    color: #ff0018;
    border-bottom: 2px solid #ff0018;
    border-right: 2px solid #ff0018;
    border-bottom-right-radius: 25px;
}

.show-details{
    visibility: visible;
}
.hide-tdetails {
    display: none;
    visibility: hidden;
}