{% extends "base.html" %}
{% load static %}

{% block title %}
    Customer Review 
{% endblock %}
{% block content %}
  <div class="ms-content-wrapper">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb pl-0">
            <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a>
            </li>
            <li class="breadcrumb-item"><a href="#">Customer</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Customers Review</li>
          </ol>
        </nav>
      </div>
    </div>

    {% if res %}
    {% for id,i in res.items %}
    <div class="ms-content-wrapper">
      <div class="row">
        <!-- Recent Support Tickets -->
        <div class="col-xl-12 col-md-12">
          <div class="ms-panel ms-panel-fh">
            <div class="ms-panel-body p-0">
              <ul class="ms-list ms-feed ms-twitter-feed ms-recent-support-tickets">
                <li class="ms-list-item">
                  <a href="#" class="media clearfix">
                    <img src="{% static 'img/costic/customer-1.jpg' %}" class="ms-img-round ms-img-small" alt="This is another feature">
                    <div class="media-body">
                      <div class="customer-meta">
                        <div class="new">
                          <h5 class="ms-feed-user mb-0">{{ i.username }}</h5>
                        </div>
                        <ul class="ms-star-rating rating-fill rating-circle ratings-new">
                              <li>&#9733;</li>

                              {{ i.star }}
                          <!--<li class="ms-rating-item"> <i class="material-icons">star</i>
                          </li>
                          <li class="ms-rating-item rated"> <i class="material-icons">star</i>
                          </li>
                          <li class="ms-rating-item rated"> <i class="material-icons">star</i>
                          </li>
                          <li class="ms-rating-item rated"> <i class="material-icons">star</i>
                          </li>
                          <li class="ms-rating-item rated"> <i class="material-icons">star</i>
                          </li>-->
                        </ul>
                      </div> <span class="my-2 d-block"> <i class="material-icons">date_range</i> {{ i.date }}</span>
                      <p class="d-block">{{ i.comments }}</p>
                      <!--<div class="d-flex justify-content-between align-items-end">
                        <div class="ms-feed-controls"> <span>
                          <i class="material-icons">chat</i> 16
                        </span>
                          <span>
                          <i class="material-icons">attachment</i> 3
                        </span>
                        </div>
                      </div>-->
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% endif %}
  </div>
{% endblock %}