{% extends "base.html" %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <script>
        var order;
        $(document).ready(function(){
        /*    $(".ms-card").click(function(e){
                $(".table tbody tr").remove()
                tid = this.id
                $.ajax({
                        data: { "tableid":tid }, // get the form data
                        type: "GET",
                        url: "{% url 'tabledetails' %}",
                        contentType: 'application/json; charset=utf-8',
                        // on success
                        success: function(response) {
                        
                            var details = response["instance"]
                            var items = details["order_items"]
                            $("#cutomer-detail").html(`Customer Name : ${details["username"]||""} <br>Time : ${details["time"]||""}`)
                            for(let v in items){
                              $(".table tbody").html(
                                `<tr>
                                <td class="text-center">${items[v]["itemid"]||""}</td>
                                <td class="text-left">${items[v]["itemname"]||""}</td>
                                <td>${items[v]["quantity"]||""}</td>
                                <td>${items[v]["price"]||""}</td>
                                </tr>`
                              )
                            } 
                            $("#price").html(details["price"])
                            console.log(response)
                         },
                        // on error
                        error: function(response) {
                            // alert the error if any error occured
                            console.log(response.responseJSON.errors)
                        }
                });
                $("#tab1").hide()
                $("#tab2").hide()
                document.getElementById("order-details").style.visibility = "visible";
                e.preventDefault();
            });*/

            $(".ms-card").click(function(e){
                $("#tab1").hide()
                $("#tab2").hide()
                document.getElementById("order-details").style.visibility = "visible";
                e.preventDefault();
                console.log(order);
                $(".table tbody tr").remove()
                $("#cutomer-detail").text("")
                $("#price").text("")
                tid = this.id
                if(order[tid]["status"]=="running"){
                  items = order[tid]["order"]["order_items"]
                  $("#cutomer-detail").html(`Customer Name : ${order[tid]["order"]["username"]||""} <br>Time : ${order[tid]["order"]["time"]||""}`)
                  for(let v in items){
                    $(".table tbody").html(
                    `<tr>
                    <td class="text-center">${items[v]["itemid"]||""}</td>
                    <td class="text-left">${items[v]["itemname"]||""}</td>
                    <td></td>
                    <td>${items[v]["quantity"]||""}</td>
                    <td>${items[v]["price"]||""}</td>
                    </tr>`
                    )
                  } 
                  $("#price").html(order[tid]["order"]["total_price"])
                }else{
                  $(".table tbody").html(`<tr><td colspan=5 style="text-align: center;pointer-events: none;"><h3>No Order Yet!</h3></td><tr>`)
                }
            });

            $(".tables a").click(function(){
                $("#tab2").hide()
                document.getElementById("order-details").style.visibility = "hidden";
                $("#tab1").show()
            });
            $(".orders a").click(function(){
                $("#tab1").hide()
                document.getElementById("order-details").style.visibility = "hidden";
                $("#tab2").show()
            });

        });
            
        setInterval(function() {
          var s = [];
          $(".htable span").each(function(){
              s.push($(this).text())
          });
          //var data_to_send = $.serialize(s); 
          //var s = JSON.stringify(data_to_send)
          $.ajax({
                //type:"POST",
                //data:{"csrfmiddlewaretoken":"{{csrf_token}}",
                //"tstatus[]":s},
                url: "{% url 'check-status' %}",
                success: function(response){
                  var status = response["status"]
                  order=response["status"]
                  for(let v in status){
                        $("[id*='"+v+"'] span").text(status[v]["status"])
                        if(!$("[id*='"+v+"'] [class*='status-']").hasClass("status-draw-"+status[v]["status"])){
                          var classList = $("[id*='"+v+"'] [class*='status-draw-']").attr("class");
                          var classList2 = $("[id*='"+v+"'] [class*='status-tab-']").attr("class");
                          //var classArr = classList.split(/\s+/);
                          $("[id*='"+v+"'] [class*='status-draw-']").addClass("status-draw-"+status[v]["status"])
                          $("[id*='"+v+"'] [class*='status-draw-']").removeClass(classList)
                          $("[id*='"+v+"'] [class*='status-tab-']").addClass("status-tab-"+status[v]["status"])
                          $("[id*='"+v+"'] [class*='status-tab-']").removeClass(classList2)
                        }
                       
                        //if(status[v]["status"]=="running"){
            
                              

                  }
                }
          });
        },1000)
        
    
    </script>
{% endblock %}

{% block content %}
<div class="ms-content-wrapper">

        <!--  <div class="ms-panel-body">
            <p class="ms-directions">Use <code>.tabs-bordered</code> in <code>.nav-tabs</code></p>
            <ul class="nav nav-tabs tabs-bordered d-flex nav-justified mb-4" role="tablist">
              <li role="presentation" ><a href="#tab1" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"> Overview </a></li>
              <li role="presentation" ><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"> Profile </a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active show fade in" id="tab1">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna nunc, congue nec laoreet sed, maximus non massa. Fusce vestibulum vel risus vitae tincidunt. </p>
                <p> Cras egestas nisi vel tempor dignissim. Ut condimentum iaculis ex nec ornare. Vivamus sit amet elementum ante. Fusce eget erat volutpat </p>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab2">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna nunc, congue nec laoreet sed, maximus non massa. Fusce vestibulum vel risus vitae tincidunt. </p>
                <p> Cras egestas nisi vel tempor dignissim. Ut condimentum iaculis ex nec ornare. Vivamus sit amet elementum ante. Fusce eget erat volutpat </p>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna nunc, congue nec laoreet sed, maximus non massa. Fusce vestibulum vel risus vitae tincidunt. </p>
              </div>
            </div>
          </div>-->
    
      <div class="col-md-12">
        <div class="col-md-3">
        <ul class="nav tabs index-tab d-flex nav-justified mb-4" role="tablist">
            <li role="presentation" class="tables"><a href="#tab1" aria-controls="tab1" class="active show" role="tab" data-toggle="tab"> Tables </a></li>
            <li role="presentation" class="orders"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"> New Orders </a></li>
        </ul> 
        </div> 
      </div>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active show fade in" id="tab1">
        <div class="row">    
        {% for no,table in tables.items %}
        <div class="col-lg-2 col-md-3 col-sm-4">
            <div class="ms-card abc {{no}}" id="{{no}}">
                <div class="ms-card-body htable">
                <h6 id="table-no">Table {{no|slice:"5:"}}</h6>
                    <div class="tables-body">
                    <div class="status-draw-{{table.status}}"></div>    
                    <span id="table-status">{{table.status}}</span>
                    </div>
                </div>
                <div class="status-tab-{{table.status}}"></div>
            </div>
        </div>
        {% endfor %}
        </div>
      </div>


      <div role="tabpanel" class="tab-pane fade" id="tab2"> 
        <div class="row">    
          <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="ms-card abc" id="{{no}}">
                  <div class="ms-card-body">
                  <h6 id="table-no"></h6>
                      <div class="tables-body">
                      <div class="status-draw status-free"></div>    
                      <span id="table-status"></span>
                      </div>
                  </div>
                  <div class="status-tab status-active"></div>
              </div>
          </div>
          </div>
      </div>


    </div>
 
      
    <div class="row" id="order-details" class="table-details hide-details" style="visibility: hidden;">
        <div class="col-md-12">
          
          <div class="ms-panel">
            
            <div class="ms-panel-body table-here">
              
              <!-- Invoice Table -->
              <div class="ms-invoice-table table-responsive mt-5 ">
               <div id="cutomer-detail"></div>
              <table class="table table-hover text-right thead-light">
                <thead>
                  <tr class="text-capitalize">
                    <th class="text-center w-5">Id</th>
                    <th class="text-left">Itemname</th>
                    <th></th>
                    <th>quantity</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>                    
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4">Total Cost:</td>
                    <td id="price"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="invoice-buttons text-right"> <a href="#" class="btn btn-primary mr-2">Print Invoice</a>
              <a href="#" class="btn btn-primary">Send Invoice</a>
            </div>
              
            </div>
          </div>
        </div>
      </div>
      
         
  </div>
{% endblock %}