{% extends "base.html" %}

{% block title %}
    Hotel Details
{% endblock %}

{% block content %}
   <!-- Body Content Wrapper -->
   <div class="ms-content-wrapper">
    <div class="row">

      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb pl-0">
            <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
            <li class="breadcrumb-item"><a href="#">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hotel Details</li>
          </ol>
        </nav>
        
        {% if err %}
        <div class="alert alert-{{ err.status }}" role="alert">
          <strong>{{ err.one }}</strong> {{ err.two }}
        </div>
        {% endif %}

      </div>



      <div class="col-xl-6 col-md-12">
        <div class="ms-panel ms-panel-fh">
          <div class="ms-panel-header">
            <h6>Hotel Details</h6>
          </div>
          <div class="ms-panel-body">
            <form class="needs-validation clearfix"  action="{% url 'hotel' %}" method="POST" novalidate>
                {% csrf_token %}
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label for="validationCustom18">Hotel Name</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="validationCustom18" placeholder="Hotel Name" value="{{hdetail.hotelname}}" name="hotelname" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                </div>
 
                <!--<div class="col-md-6 mb-3">
                  <label for="validationCustom22">Select Catagory</label>
                  <div class="input-group">
                    <select class="form-control" id="validationCustom22" name="catagory" required>
                      <option value="">Catagory 1</option>
                      <option value="">Catagory 2</option>
                      <option value="">Catagory 3</option>
                      <option value="">Catagory 4</option>

                    </select>
                    <div class="invalid-feedback">
                      Please select a Catagory.
                    </div>
                  </div>
                </div>-->
                <div class="col-md-6 mb-3">
                    <label for="validationCustom25">No. of tables</label>
                    <div class="input-group">
                      <input type="number" class="form-control" id="validationCustom25" name="tables" value="{{hdetail.totaltables}}" required>
                      <div class="invalid-feedback">
                        Invalid Table number!!!
                      </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="validationCustom18">City</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="validationCustom18" placeholder="Enter city name" value="{{hdetail.hotelcity}}" name="city" required>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="validationCustom12">Address</label>
                  <div class="input-group">
                    <textarea rows="5" id="validationCustom12" class="form-control" placeholder="Type here." name="address" required>{{hdetail.hoteladdress}}</textarea>
                    <div class="invalid-feedback">
                      Please provide a message.
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="validationCustom12">Hotel Image or Logo</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" name="image">
                    <label class="custom-file-label" for="validatedCustomFile">Upload Images...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                  </div>
                </div>
              </div>




            
          
          </div>
        </div>

      </div>

      <div class="col-xl-6 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="ms-panel">
              <div class="ms-panel-header">
                <h6>User Details</h6>
              </div>

            <div class="ms-panel-body">
              <div class="col-md-12 mb-3">
                <label for="validationCustom18">First Name</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="validationCustom18" placeholder="Enter the first name" value="{{udetail.firstname}}" name="firstname" required>
                  <!--<div class="valid-feedback">
                    Looks good!
                  </div>-->
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <label for="validationCustom18">Last Name</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="validationCustom18" placeholder="Enter the last name" value="{{udetail.lastname}}" name="lastname" required>
                  <!--<div class="valid-feedback">
                    Looks good!
                  </div>-->
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <label for="validationCustom18">Phone Number</label>
                <div class="input-group">
                  <input type="tel" class="form-control" id="validationCustom18" placeholder="Enter phone number" value="{{udetail.phoneno}}" name="phone" pattern="[0-9]{10}" required>
                  <div class="valid-feedback">
                    Looks great!
                  </div>
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <label for="validationCustom18">Email address</label>
                <div class="input-group">
                  <input type="email" class="form-control" id="validationCustom18" placeholder="Enter email address" value="{{udetail.email}}" name="email" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <label for="validationCustom18">Current Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="validationCustom18" placeholder="Enter password" value="" name="cpassword" >
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <label for="validationCustom18">New Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="validationCustom18" placeholder="Re-enter password" value="" name="npassword" >
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              </div>

              <div class="ms-panel-header new">
                <button class="btn btn-primary d-block" type="submit" name="update" value="update">Save and Add</button>
              </div>
            
            </div>
          </div>
        </form>
        </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}