{% extends "base.html" %}

{% block title %}
    Item List 
{% endblock %}

{% block content %}
   <div class="ms-content-wrapper">
    <div class="row">

      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb pl-0">
            <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
            <li class="breadcrumb-item"><a href="#">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page">Menu List</li>
          </ol>
        </nav>

        <div class="ms-panel">
          <div class="ms-panel-header">
            <h6>Product List</h6>
          </div>
          <div class="ms-panel-body">
            {% if itemlist %}
              <div class="table-responsive table-list" >
                <table class="table table-hover thead-primary">
                  <thead>
                    <tr>
                      <th scope="col">Item ID</th>
                      <th scope="col">Item Name</th>
                      <th scope="col">Category</th>
                      <th scope="col">Description</th>
                      <th scope="col">Offer</th>
                      <th scope="col">Status</th>
                      <th scope="col">Price</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for id,item in itemlist.items %}
                    
                    <tr>
                        <td>{{ id.title }}</td>
                        <td>{{ item.itemname.title }}</td>
                        <td>{{ item.itemcategory }}</td>
                        <td>{{ item.itemdescription }}</td>
                        <td>{{ item.offer }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.itemprice }}</td>
                        <td><a href="{% url 'updateproduct' uid=id %}" >update </a></td>
                    </tr>
                    {% endfor %}
                    

                  </tbody>
                </table>
              </div>
              {% else %}
              <h4 style="text-align: center;">No Items found</h4>
              {% endif %}  
          </div>
        </div>

      </div>

    </div>
  </div>
{% endblock %}